@import "nav.css";
body {
  background: #f0f0f0;
}
.container {
  margin: auto;
  width: 80%;
  /* border: 1px solid #000000; */
  padding: 10px;
  margin-top: 10px;
}

.hero-section {
  display: flex;
  justify-content: space-between;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #fff;
  margin-right: 10px;
}

.menu li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 14px;
  text-align: left;
}

.menu li a:hover {
  background-color: #fdb08c;
}

.menu-item {
  height: 40px;
}

.menu-title {
  display: block;
  color: #fff;
  background-color: #ff8000;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}

.banner {
  margin-left: 20px;
}

.banner img {
  width: 900px;
  height: 350px;
}

.special-sale-off {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.sale-off-banner {
  cursor: pointer;
}

.sale-off-banner img {
  display: inline;
  width: 293px;
  line-height:18.5714px;
}

.menu-icon{
  background-color: #fff;
  font-size: 13px;
  line-height: 18.5714px;
  margin: 15px 0px 0px;
  padding: 15px 4px;
  text-align: center;
  display: flex;
}

.menu-icon-image{
  font-size: 13px;
  height: 60px;
  text-align: center;
}

.menu-icon-image img{
  font-size: 13px;
  height: 60px;
  text-align: center;
  display: inline;
}

.menu-icon-name{
  font-size: 14px;
  line-height: 20px;
  padding: 10px 10px 0;
  text-align: center;
}

.menu-icon-image-name{
  width: 200px;
  cursor: pointer;
}

.trending{
  background-color: #fff;
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  margin: 15px 0px 0px;
  text-align: left;
  width: 100%;

}

.trending-header{
  display: flex;
  font-size: 17px;
  font-weight: 550;
  line-height:24.2857;
  text-align: center;
  text-transform: uppercase;
  background-color: #f9b7f9;
}

.trending-header img{
  width: 50px;
  height: 50px;
  display: inline;
  font-weight: 550;
  line-height: 24.2857px;
  text-align: center;
  text-transform: uppercase;
}

.trending-header span{
  color: #1f1d1d;
  font-weight: 17px;
  line-height: 24.2857px;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 0px 0px;
}

.trending-category{
  color:#333333;
  font-size: 13px;
  line-height: 18.5714px;
  text-align: left;
}

.trending-category ul{
  background-color: #fff;
  color: #333333;
  display: flex;
  font-size: 13px;
  line-height: 18.5714px;
  padding: 0px 0px 0px 19.5px;
  text-align: left; 
  cursor: pointer;
}

.trending-category ul li{
  background-color: #fff;
  color: #f7931e;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #f7931e;
  font-family: "sans-serif";
  font-size: 14px;
  font-height: 700;
  line-height: 20px;
  margin: 10px 5px 5px;
  padding: 8px 15px;
  text-align: center;
  list-style: none;
}

.trending-category ul li:hover{
  background-color: #f7931e;
  color: #fff;
}

.product{
  color: #333333;
  font-size: 13px;
  line-height: 18.5714px;
  padding: 0px 15px 20px;
  text-align: left;
  background-color: #fff;
}

.product-card{
  font-size: 13px;
  color: #333333;
  text-align: left;
  background-color: #fff;
}

.product-image{
  align-items: center;
  color: #c92127;
  display: flex;
  font-size: 13px;
  justify-content: center;
  line-height: 18.5714px;
  text-align: center;
}

.product-image img{
  color: #6c5f5f;
  font-size: 13px;
  line-height: 18.5714px;
  text-align: center;
  height: 100px;

}

.product-card a{
  color: #333333;
  display: -webkit-box;
  font-family: sans-serif;
  font-size: 14.04px;
  line-height: 19.656px;
  text-align: left;
}
